---
import Layout from '../layouts/layout.astro';
//import { PokemonClient } from 'pokenode-ts';



//const client = new PokemonClient();

// let pokemonList: string[] = [];
// for(let i: number = 1; i <= 151; i++){
// 	let temp = await client.getPokemonById(i);
// 	pokemonList.push(temp.name);
// }


---

<Layout>
	<p id="result"></p>
  <script>
    interface pokemon{
      id: number,
      name: string
    };

    export async function getData() : Promise<pokemon[]> {
      return fetch('https://pokeapi.co/api/v2/pokemon/?limit=151')
        .then(res => res.json())
        .then(res => {
            return res as pokemon[]
        })
    }

    const result = document.getElementById('result')
    getData()
            .then(pokemon => {
                    result.innerHTML = pokemon.map(u => u.id).toString()
            })
  </script>
</Layout>